<!-- <h2> Hello from Hello-Component</h2>
<input type="button" value="submit" (click)="onpressed($event)"> -->

<!-- <body>
    <h1>Destination</h1>
    Index: <input type="number" id="input"><br><br>
    <input type="submit" value="Submit" class="clk" size="10px" onclick="Hello-Component.onimage()">
    <div id="Destination">
        <h3>Planets</h3>
    </div>
    <div id="image">
        
    </div>
</body> -->
<h1> From Hello-Component</h1>
<p [ngStyle]="mystyle"> Full Name : {{first | titlecase}}</p>
<input type="text" [(ngModel)]="first">
<!-- <input (keydown.backsapce)="eventvalue($event)">
<p>Event :</p> -->